<!DOCTYPE html>
<html>
  <head>
    <title>Csvtest</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <div class="container">
      <div>
        <p class="lead fs-2">番号を入力するか、CSVファイルを選択してください。</span>
      </div>

      <% if flash[:fail] %>
        <div class="alert alert-danger"><b><%= flash[:fail] %></b></div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-success"><b><%= flash[:success] %></b></div>
      <% end %>

      <form action="/csv_test_create" method="post">
        <div class="mb-3">
          <label for="requestNumber" class="col-form-label fs-5">番号を入力</label>
          <input type="number" name="request_number" id="requestNumber" class="form-control" placeholder="123456">
        </div>
        <div class="mb-3">
          <input type="submit" value="登録" id="single_submit" class="btn btn-primary disabled submit">
        </div>
      </form>

      <hr>

      <form action="/csv_test_create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="requestNumberCsv" class="col-form-label fs-5">CSVファイルを選択</label>
          <input type="file" name="request_number_csv" id="requestNumberCsv" class="form-control form-control-lg">
        </div>
        <div class="mb-3">
          <input type="submit" value="登録" id="csv_submit" class="btn btn-primary disabled submit">
        </div>
      </form>

      <div class="list">
        <div>
          <p class="lead fs-4">リクエスト内容</span>
        </div>

        <div class="d-flex mb-3 align-items-center">
          <div class="flex-child">
            <div class="current_page_count fs-5"><b>1-100件目</b></div>
          </div>

          <div class="flex-child">
            <select class="form-select" aria-label="Default select example" id="view_count">
              <option value="10" <% if @view_count == 10 %>selected<% end %>> 10件</option>
              <option value="20" <% if @view_count == 20 %>selected<% end %>> 20件</option>
              <option value="50" <% if @view_count == 50 %>selected<% end %>> 50件</option>
              <option value="100" <% if @view_count == 100 %>selected<% end %>>100件</option>
              <option value="200" <% if @view_count == 200 %>selected<% end %>>200件</option>
              <option value="300" <% if @view_count == 300 %>selected<% end %>>300件</option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="row">番号</th>
                <th scope="row">ステータス</th>
                <th scope="row">入力ファイル名</th>
                <th scope="row">リクエスト日時</th>
              </tr>
            </thead>
            <tbody>
              <% @list.each do |estimate| %>
                <tr>
                  <td><%= estimate.number %></td>
                  <td><%= status_string(estimate.status) %></td>
                  <% if estimate.csv_filename == "個別入力" %>
                    <td><%= estimate.csv_filename %></td>
                  <% else %>
                    <td><a href="/download_csv?filename=<%= estimate.csv_filename %>"><%= estimate.csv_filename %></a></td>
                  <% end %>
                  <td><%= estimate.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="d-flex mb-3 align-items-center">
          <div class="flex-child">
            <div class="fs-5"><b>1-100件目</b></div>
          </div>
        </div>

        <%= pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>

    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>